### Dependências (Composer)
/vendor/

### Artefatos gerados (site publicado)
/index*.html
/archive*.html
/tag-*.html
/recentes.html
/feed.xml
/sitemap-axe.xml

### Posts gerados (saída publicada)
/20[0-9][0-9]/

### Previews gerados
/axepreview/*.html

### Temporários
*.temp

### Catálogos gerados (reconstruíveis)
/axe/descriptors/**/catalog*.txt
/axe/descriptors/tags/catalog-*.txt

### Pastas de trabalho/backup (reconstruíveis)
/axe/drafts/old/
/axe/staging/old/
